body {
 
    border: 1px solid;
    background-color: rgba(155, 206, 253, 0.747);
    border-style: groove;
    border-width: 10px;
}

p  {
border: 10px solid;
border-style: groove;
border-width: 0px;
text-align: center;
}

